{% extends "home.html" %}

{% block content %}

    <h2>Expenses</h2>
    <h3>Add your expenses</h3>
    <h4>Welcome <span class="user-name">{{user.Name}}</span>!</h4>

    <form method = "POST" action = "/expenses">
        <label for = "amount">Amount:</label>
        <input type = "number" name = "amount" required><br><br>

        <label for = "date">Date:</label>
        <input type = "date" name = "date" required><br><br>

        <label for = "category">Category:</label>
        <select name = "category" required>
            <option value = "">-- Select Category --</option>
            <option value = "Food">Food</option>
            <option value = "Transportation">Transportation</option>
            <option value = "Entertainment">Entertainment</option>
            <option value = "Utilities">Utilities</option>
            <option value = "Healthcare">Healthcare</option>
            <option value = "Education">Education</option>
            <option value = "Shopping">Shopping</option>
            <option value = "Travel">Travel</option>
            <option value = "Housing">Housing</option>
            <option value = "Insurance">Insurance</option>
            <option value = "Personal Care">Personal Care</option>
            <option value = "Gifts & Donations">Gifts & Donations</option>
            <option value = "Other">Other</option>
        </select>

        <br><br>

        <label for = "payment_method">Payment Method:</label>
        <select name = "payment_method" required>
            <option value = "">-- Select Payment Method --</option>
            <option value = "Cash">Cash</option>
            <option value = "Credit Card">Credit Card</option>
            <option value = "Debit Card">Debit Card</option>
            <option value = "Bank Transfer">Bank Transfer</option>
            <option value = "UPI">UPI</option>
            <option value = "Cheque">Cheque</option>
            <option value = "Net Banking">Net Banking</option>
            <option value = "PayPal">PayPal</option>
            <option value = "Cryptocurrency">Cryptocurrency</option>
            <option value = "Other">Other</option>
        </select>

        <br><br>

        <label for = "description">Description (optional):</label>
        <input type = "text" name = "description" ><br><br>

        <button type="submit">Add Expense</button>

    </form>

    <table>
        <thead>
            <tr>
                <th>Expense Id</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Category</th>
                <th>Payment Method</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            {% for expense in user.expenses %}
            <tr>
                <td>{{ expense.id }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.date }}</td>
                <td>{{ expense.category }}</td>
                <td>{{ expense.payment_method }}</td>
                <td>{{ expense.description }}</td>
                <td>
                    <form method = "POST" action = "/delete_expense/{{ expense.id }}">
                        <button type = "submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
           
    </table>

    <div class="total-row">
        <p class="total-amount">Total Expenses: <strong>&#8377;{{total_expense}}</strong></p>
        <form action = "/delete_all_expenses" method = "POST">
            <button type = "submit">Delete All Expenses</button>
        </form>
    </div>


{% endblock %}