{% extends 'home.html' %}
{% block content %}


    <h2>Enter Your Credentials</h2>

    <form method = "POST" action = "/login">
        <label for = "email">Email:</label>
        <input type = "email" name = "email" required><br><br>

        <label for = "password">Password:</label>
        <input type = "password" name = "password" required><br><br>

        <button type = "submit">Login</button>

        <p>Don't have an account? <a href = "/register">Register here</a></p>
    </form>

{% endblock %}